@font-face {
  font-family: "GoodTimingRg-Bold";
  src: url("/fonts/GoodTimingRg-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

:root {
  line-height: 1.5;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  font-family: "GoodTimingRg-Bold", Arial, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}
